.signup{
    background-color: rgba(0, 0, 0, 0.678);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    overflow-y: scroll;
    .loading{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
        background-color: rgba(0, 0, 0, 0.658);
        img{
            width: 3%;
        }
    }
    .signup-container{
        width: 40%;
       
        .titles{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10%;
            button{
                width: 12%;
                border-radius: 50%;
                padding: 5% 0;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: orange;
                color: white;
                font-size: 1vw;
                position: relative;
                transition: 0.5s;
                &:hover{
                transition: 0.5s;
                background-color: rgb(255, 195, 83);
                box-shadow: 0 0 10px 5px rgb(255, 195, 83),
                0 0 70px 10px rgb(255, 195, 83),
                0 0 40px 5px rgb(255, 195, 83); 
                }
            }
            .line{
                width: 12%;
                border-radius: 50%;
                padding: 5% 0;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: orange;
                color: white;
                font-size: 1vw;
                position: relative;
                transition: 0.5s;
                box-shadow: 0 0 10px 5px rgb(255, 195, 83),
                0 0 70px 10px rgb(255, 195, 83),
                0 0 40px 5px rgb(255, 195, 83); 
                &::after{
                    content: "";
                    position: absolute;
                    top: 90%;
                    left: 50%;
                    right: 50%;
                    width: 0.2vw;
                    height: 5vw;
                    z-index: -1;
                    background-color: orange;
                    transition: 0.5s;

                }
                &:hover{
                transition: 0.5s;

                    &::after{
                        transition: 0.5s;
                    background-color: rgb(255, 195, 83);
                    
                    }
                    }
              
            }
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: orange;
            border-radius: 20px;
            padding: 2%;
            padding-bottom: 10%;
            article{
                text-decoration: underline;
                margin-top: 2%;
                font-size: 0.8vw;
                cursor: pointer;
                &:hover{
                    color: red;
                }
            }
            h4{
                color: red;
                font-size: 1vw;
                margin: 2% 0;
                &:empty{
                    margin: 0;
                }
            }
            span{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                width: 48%;
                }
            }
            input{
                width: 100%;
                padding: 2%;
                font-size: 1vw;
                background-color: white;
                border: none;
                outline: none;
                border-radius: 10px;
                margin-bottom: 4%;
                &:focus{
                    // border: 3px red solid;
                    box-shadow: 0 0 10px 5px rgba(255, 167, 67, 0.651),
                    0 0 70px 10px rgba(255, 255, 255, 0.651),
                    0 0 40px 5px white; 
                    
                }
            }
            button{
                width: 20%;
                padding: 2% 0;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: white;
                font-size: 1vw;
                border-radius: 10px;
                transition: 0.5s;
                &:hover{
                transition: 0.5s;
                    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.473);
                    background-color: black;
                    color: white;

                }
            }
        }
    }
}
// ====================
@media only screen and (max-width:800px) {
    .signup{
        .signup-container{
            width: 90%;
            .titles{
                button{
                    font-size: 3vw;
                    width: 17%;
                  
                }
                .line{
                    font-size: 3vw;
                    width: 17%;

                    &::after{
                        height: 17vw;
                    }
                }
            }
            form{
                article{
                    font-size: 4vw;
                }
                h4{
                    font-size: 3vw;
                }
                span{
                    flex-wrap: wrap;
                    input{
                        width: 100%;
                    }
                }
                input{
                    font-size: 3vw;
                }
                button{
                    font-size: 3vw;
                    width: 30%;
                    &:active{
                        background-color: black;
                        color: white;
                    }
                    &:hover{
                        box-shadow: none;
                        color: black;
                        background-color: white;
                    }
                }
            }
        }
    }
}