.cart_ {
    background-color: rgb(36, 36, 36);
    min-height: 100vh;

  .cart_container {
      padding: 1%;
    width: 95%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    .cart_left {
      width: 60%;
      display: flex;
      flex-direction: column;
      height: 40vw;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .cart_box {
        border: 1px white solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;
        // padding: 1%;
        h1 {
          font-size: 1vw;
          background-color: green;
          color: white;
          padding: 1%;
          margin: 0;
          width: 20%;
          word-break: break-all;
          // overflow-y: scroll;
          // &::-webkit-scrollbar{
          //     display: none;
          // }
        }
        h4 {
          font-size: 0.9vw;
          // padding: 1%;
          margin: 0;
          width: 20%;
          word-break: break-all;
          color: white;
        }
        button {
          background-color: red;
          outline: none;
          border: none;
          font-size: 0.9vw;
          cursor: pointer;
          color: white;
          // margin-right: 2%;
          width: 10%;
          padding: 0.9% 0;
        }
      }
    }
    .cart_right {
      width: 30%;
      height: 40vw;
      overflow-y: scroll;
      border-left: 1px solid #fff;
      &::-webkit-scrollbar {
        display: none;
      }
      .cart_right_invoice{
          display: flex;
          flex-direction: column;
          h1{
              text-align: center;
              font-size: 1.5vw;
              margin: 0;
              padding: 1%;
              color: white;
          }
          .singleInvoice{
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px white solid;
              padding: 1%;
              margin-bottom: 2%;
              h2,h3{
                  font-size: 0.9vw;
                  margin: 0;
                  word-break: break-all;
                  width: 20%;
                  color: white;
              }
              h2{
                  width: 40%;
              }
              
              h5{
                  margin: 0;
                  font-size: 0.9vw;
                  color: green;
                  width: 10%;
              }
          }
      }
      h2{
          color: orange;
          font-size: 1.5vw;
          text-align: center;
          margin: 3% 0;
      }
      button{
          background-color: skyblue;
          border: none;
          outline: none;
          width: 30%;
          margin: 1% auto;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 1vw;
          color: white;
          padding: 1% 0;
          transition: 0.5s;
          &:hover{
          transition: 0.5s;
              background-color: rgb(78, 154, 184);
          }
      }
    }

    .demo_pop{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.644);

        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: white;
            font-size: 2vw;
        }
    }
  }
}
