.freelance_{
    background-color: rgb(36, 36, 36);
    min-height: 100vh;
      .freelance_container{
        width: 95%;
        margin-left: auto;
        .form_container{
            form{
                padding-top: 1%;
                display: flex;
                justify-content: space-around;
            flex-wrap: wrap;
            // background-color: rgba(0, 0, 0, 0.384);
            // ============================== Left =================
            .form_left{
                width: 49%;
                display: flex;
                flex-direction: column;
                background-color: rgba(0, 0, 0, 0.589);
                border-radius: 10px;
                padding: 1%;
                input{
                    padding: 1%;
                    margin-bottom: 2%;
                    font-size: 1vw;
                    outline:none;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid #fff;
                    caret-color: orange;
                    color: white;
                    &::-webkit-inner-spin-button{
                        display: none;
                    }
                    &::placeholder{
                        color: white;
                    }
                }
            }
            // =============================== right ==================
            .type{
                width: 49%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.589);
                border-radius: 10px;
                padding: 1%;
                h3{
                    text-align: center;
                    font-size: 1.5vw;
                    margin: 0;
                    padding: 0;
                    color: white;
                }
                label{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.5%;
                    width: 20%;
                    h5{
                       font-size: 1vw;
                       padding: 0;
                       margin: 0;
                       color: white;

                   }
                    input{
                        width: 1vw;
                        height: 1vw;
                    }
                }
            }
            // ======================== bottom =====================
            .form_bottom{
                width: 50%;
                background-color: rgba(0, 0, 0, 0.589);
                margin-top: 2%;
                padding: 1%;
                border-radius: 10px;
                .agrement{
                    span{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 15%;
                        h3{
                            font-size: 1vw;
                            margin: 0;
                            padding: 0;
                            color: white;
                        }
                        input{
                            width: 1vw;
                            height: 1vw;
                        }
                    }
                    p{
                        font-size: 1vw;
                        color: white;
                    }
                }
                button{
                    width: 20%;
                    background-color: orange;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1% 0;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: 1vw;
                    color: white;
                    &:disabled{
                        background-color: gray;
                        color: red;
                    }
                }
            }
            }
        }
        // ============================= Meals ===============
        .showMeals_{
            margin-top: 3%;
            .showMeals_container{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .meal_{
                    width: 30%;
                    display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px white solid;
                border-radius: 10px;
                padding: 1%;
                margin-bottom: 2%;
                
                    h1,h3,p{
                        color: white;
                    }
                    h1{
                        font-size: 1.5vw;
                    }
                    h3{
                        font-size: 1.2vw;
                    }
                   ul{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    overflow-y: scroll;
                    height: 5vw;
                   &::-webkit-scrollbar{
                       width: 0.1vw;
                   }
                       li{
                        font-size: 1vw;
                           color: white;
                           word-break: break-all;
                       }
                   }
                    .mealImg_{
                        display: flex;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .meal_btns{
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        padding-top: 5%;
                        a{
                            background-color: orange;
                            width: 30%;
                            padding: 1% 0;
                            text-align: center;
                            text-decoration: none;
                            font-size: 1vw;
                            color: white;
                            position: relative;
                            &::after{
                                position: absolute;
                                content: attr(data-tel);
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: black;
                                opacity: 0;
                                transition: 0.5s;
                            }
                            &:hover{
                                &::after{
                                    opacity: 1;
                                }
                            }
                        }
                        button{
                            width: 30%;
                            background-color: red;
                            color: white;
                            font-size: 1vw;
                            padding: 1% 0;
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}