.book_{
    .book_container{
        width: 95%;
        margin-left: auto;
        form{
            width: 100%;
            padding: 1%;
           h1{
               color: white;
               font-size: 2vw;
               text-align: center;
               
           }
           h2{
               color: white;
               font-size: 1.5vw;
               text-align: center;
               margin: 2% 0;
           }
          .form_container{
              display: flex;
              width: 100%;
              justify-content: space-around;
                // ===================== Date ==================
            .date{
                width: 58%;
                border: 1px green solid;
                
                div{
                    div{
                        &:first-of-type{
                            background-color: transparent;
                        }
                    }
                }
              
            }
            // ======================== Time ===============
            .time{
                width: 40%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                border-left: 1px white solid;
                label{
                    border-bottom: 1px white solid;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 45%;
                    margin-bottom: 1%;
                    h3{
                        color: white;
                        font-size: 1vw;
                    }
                    .h3Persons{
                        color: orange;
                        
                    }
                    .btns_persons{
                        width: 40%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h6{
                            width: 25%;
                            background-color: orange;
                            font-size: 1vw;
                            color: white;
                            margin: 0;
                            text-align: center;
                            cursor: pointer;
                        }
                        h4{
                            font-size: 1vw;
                            color: white;
                            margin: 0;
                        }
                    }
                    input{
                        width: 1vw;
                        height: 1vw;
                      
                    }
                }
            }
          }
          .submitBtn{
              background-color: orange;
              outline: none;
              border: none;
              width: 20%;
              padding: 0.5% 0;
              font-size: 1vw;
              color: white;
              margin: 2% auto;
              display: flex;
              justify-content: center;
              align-items: center;
              &:disabled{
                  background-color: gray;
                  color: red;
              }
          }
        }
    }
    // =================================== Review =============
    .reviews{
        h1{
            font-size: 2vw;
            color: white;
            text-align: center;
            margin: 2% 0;
        }
  .reviews_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .userReview{
        border: 1px white solid;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 2%;
        a{
            display: flex;
            width: 20%;
           
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h1{
            font-size: 1vw;
            color: white;
            margin: 2% 0;
        }
       span{
           display: flex;
           margin: 2% 0;

        h3{
            font-size: 1vw;

        }
       }
        h4{
            color: white;
            font-size: 1vw;
            margin: 0;
            padding: 0;
        }
    }
  }
    }
}
// ================================== Style Date picker ==========================

.MuiDialogActions-root{
    display: none !important;
}
.MuiTypography-overline{
    display: none !important;
}
.MuiDatePickerToolbar-title{
    color: white !important;
}
.MuiPickersToolbar-penIconButton{
    // color: white !important;
    svg{
        color: white !important;
    }
}
.MuiPickersCalendarHeader-labelContainer{
    div{
        color: white !important;
    }
    button{
        svg{
            color: white !important;
        }
    }
} 
.MuiPickersArrowSwitcher-root{
    button{
        svg{
            color: white !important;
        }
    }
}
.MuiDayPicker-header{
    span{
        color: white !important;
    }
}
.MuiDayPicker-weekContainer{
    button{
        &:hover{
            color: white !important;
        }
        &:focus{
            color: white !important;
        }
    }
}
.MuiYearPicker-root{
    div{
        button{
            color: white !important;

        }
    }
}
.MuiInputBase-input{
    color: white !important;
}
// .css-jhsfre-MuiGrid-root-MuiPickersToolbar-content{
//     h4{
//         color: white;
//     }
// }
// .css-u0soqy-MuiPickerStaticWrapper-root{
//     div{
//         background-color: transparent;

//     }
// }
// .css-6t5f1e-MuiDayPicker-monthContainer{
//     *{
//         color: black !important;
//         &:hover{
//             color: white !important;
//         }
//         &:focus{
//             color: white !important;
//         }
        
//     }
// }
// .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled{
//     background-color: rgb(190, 190, 190) !important;
//     color: white !important;
// }
// .MuiDialogActions-root,.css-1hbyad5-MuiTypography-root {
//     display: none !important;
// }
// ============================= Media query======================
@media only screen and (max-width:800px) {
    .book_{
        .book_container{
            width: 85%;
            form{
              h1{
                  font-size: 3vw;
              }
              h2{
                  font-size: 3vw;
              }
              .form_container{
                  flex-wrap: wrap;
                  .date{
                      width: 100%;

                  }
                  .time{
                      width: 100%;
                      label{
                          padding: 2%;
                          h3{
                              font-size: 3vw;
                              margin: 0;
                          }
                          input{
                              width: 3vw;
                              height: 3vw;
                          }
                          .btns_persons{
                              width: 50%;
                            h6{
                                font-size: 3vw;
                            }
                            h4{
                                font-size: 3vw;
                            }
                          }
                      }
                  }
              }

              .submitBtn{
                  font-size: 3vw;
                  width: 40%;
                  padding: 2% 0; 
              }
            }
        }
        // ================= Review ============
        .reviews{
            width: 85%;
            margin-left: auto;
            h1{
                font-size: 3vw;
            }
            .reviews_container{
                .userReview{
                    width: 48%;
                    a{
                        width: 40%;
                    }
                    h1{
                        font-size: 3vw;
                    }
                    span{
                        h3{
                            font-size: 3vw;
                        }
                    }
                    h4{
                        font-size: 3vw;
                        text-align: center;
                    }
                }
            }
        }
    }
}