.slider-main{
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 0 0 auto;
    border-bottom: 1px solid rgb(212, 211, 211);
    .slider{
        width: 100%;
        margin: 0 0 0 auto;
       
        img{
            height: 33vw;
            // border-radius: 20px;
            
            object-fit: cover;
    
        }
        h3{
            font-size: 2vw;
            padding-bottom: 4%;
           
        }
       
    }
}

// ================== Media query ===============
@media only screen and (max-width:800px) {
    .slider-main{
        .slider{
            width: 100%;
            img{
                height: 60vw;
            }
            h3{
                font-size: 3vw;
            }
        }
    }
}

