.userChat{
    display: flex;
    padding: 2%;
    .left{
        width: 30%;
        padding: 1%;
        .chatWithChef{
            display: flex;
            align-items: center;
            background-color: orange;
            padding: 2%;
            border-radius: 10px;
            svg{
                color: white;
                font-size: 2vw;
            }
            h2{
                font-size: 1.2vw;
                color: white;
                margin-left: 2%;
            }

        }
    }
    .right{
        width: 70%;
        padding: 1%;
        background-image: url(../images/chat-wallpaper.jpg);
        background-size: cover;
        border-radius: 20px;
        h1{
           border-bottom: 1px solid #fff;
            font-size: 2vw;
            color: white;
            padding: 1%;
        }
        .chatField{
            height: 30vw;
            overflow-y: scroll;
           .leftText{
               display: flex;
               padding: 2%;
               width: 40%;
               flex-direction: column;
               h6{
                   font-size: 0.8vw;
                   margin-bottom: 2%;
                   color: white;
               }
               p{
                   background-color: rgb(199, 199, 199);
                   padding: 2%;
                   color: white;
                   font-size: 1vw;
                   border-radius: 10px;
                   word-break: break-all;
               }
               h5{
                   margin-top: 1%;
                   font-size: 0.8vw;
                   color: white;

               }
           }
           .rightText{
               display: flex;
               padding: 1%;
               width: 40%;
               margin-left: auto;
               flex-direction: column;
               h6{
                font-size: 0.8vw;
                margin-bottom: 2%;
                color: white;

            }
               p{
                background-color: skyblue;
                padding: 2%;
                color: white;
                font-size: 1vw;
                border-radius: 10px;
                word-break: break-all;

            }
            h5{
                margin-top: 1%;
                font-size: 0.8vw;
                color: white;
            }
           }

        }
        form{
            width: 100%;
            border: 1px black solid;
            display: flex;
            input{
                width: 90%;
                border: none;
                outline: none;
                font-size: 1vw;
                padding: 1%;
            }
            button{
                width: 10%;
                font-size: 1vw;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: orange;
                color: white;
            }
        }
    }
}