.userChat{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    .loading{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
        background-color: rgba(0, 0, 0, 0.658);
        img{
            width: 3%;
            @media only screen and (max-width:800px) {
                width: 13%;
            }
        }
    }
    .left{
        width: 20%;
        padding: 1%;
        .chatWithChef{
            display: flex;
            align-items: center;
            background-color: orange;
            padding: 2%;
            border-radius: 10px;
            svg{
                color: white;
                font-size: 2vw;
            }
            h2{
                font-size: 1.2vw;
                color: white;
                margin: 0;
                margin-left: 2%;

            }

        }
        h6{
            color: white;
            background-color: red;
            padding: 4%;
            margin-top: 4%;
            border-radius: 10px;
            font-size: 1.2vw;
        }
    }
    .right{
        width: 70%;
        padding: 1%;
        background-image: url(../images/chat-wallpaper.jpg);
        background-size: cover;
        border-radius: 20px;
        h1{
           border-bottom: 1px solid #fff;
            font-size: 2vw;
            color: white;
            padding: 1%;
        }
        .chatField{
            height: 30vw;
            overflow-y: scroll;
           .leftText{
               display: flex;
               padding: 2%;
               width: 40%;
               flex-direction: column;
               h6{
                   font-size: 0.8vw;
                   margin-bottom: 2%;
                   color: white;
               }
               p{
                   background-color: rgb(199, 199, 199);
                   padding: 2%;
                   color: white;
                   font-size: 1vw;
                   border-radius: 10px;
                   word-break: break-all;
               }
               h5{
                   margin-top: 1%;
                   font-size: 0.8vw;
                   color: white;

               }
           }
           .rightText{
               display: flex;
               padding: 1%;
               width: 40%;
               margin-left: auto;
               flex-direction: column;
               h6{
                font-size: 0.8vw;
                margin-bottom: 2%;
                color: white;

            }
               p{
                background-color: skyblue;
                padding: 2%;
                color: white;
                font-size: 1vw;
                border-radius: 10px;
                word-break: break-all;

            }
            h5{
                margin-top: 1%;
                font-size: 0.8vw;
                color: white;
            }
           }

        }
        form{
            width: 100%;
            border: 1px black solid;
            display: flex;
            border-radius: 20px;
            input{
            border-radius: 20px 0 0 20px;

                width: 90%;
                border: none;
                outline: none;
                font-size: 1vw;
                padding: 1%;
            }
            button{
            border-radius: 0 20px 20px 0;

                width: 10%;
                font-size: 1vw;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: orange;
                color: white;
            }
        }
    }
}

// ====================
@media only screen and (max-width:800px) {
    .userChat{
        flex-wrap: wrap;
        width: 85%;
        margin-left: auto;
        justify-content: space-between;
        .left{
            width: 100%;
            .chatWithChef{
                svg{
                    font-size: 4vw;
                }
                h2{
                    font-size: 3vw;
                }
            }
            h6{
                font-size: 3vw;
            }
        }
        .right{
            width: 100%;
            h1{
                font-size: 3vw;
            }
            .chatField{
                height: 65vh;
                &::-webkit-scrollbar{
                    display: none;
                }
                .leftText,.rightText{
                    h6{
                        font-size: 2vw;
                    }
                    p{
                        font-size: 2.5vw;
                        padding: 4%;
                    }
                    h5{
                        font-size: 2vw;
                    }
                }

            }
            form{
                input{
                    font-size: 3vw;
                    padding: 2%;
                }
                button{
                    font-size: 2vw;
                }
            }
        }
    }
}